 {% load static %}
 <!--Header Start-->
  <header>
    <div class="container">
        <div class="row">
            <div class="logo">
                <a href="./index.html">
                    <img src="{% static 'img/logo-azabrau.svg' %}" alt="">
                </a>
            </div>
            <div class="mobile-right">
                <div class="social">
                    <a href="#">
                        <img src="{% static 'img/face.svg' %}" alt="">
                    </a>
                    <a href="#">
                        <img src="{% static 'img/inst.svg' %}" alt="">
                    </a>
                </div>
                <div class="mobile-nav" bis_skin_checked="1">
                    <a href="javascript:void(0)">
                        <span class="active"></span>
                        <span class="active"></span>
                        <span class="active"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <img class="close-nav" src="{% static 'img/x-icon.png' %}" alt="">
            <div class="logo">
                <a href="./index.html">
                    <img src="{% static 'img/logo-azabrau.svg' %}" alt="">
                </a>
            </div>
            <nav>
                <ul class="navbar">
                    <li class="nav-item">
                        <a href="./about.html">
                            HAQQIMIZDA
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="./products.html">
                            AZ ABRAU
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="./maps.html">
                            SATIŞ MƏNTƏQƏLƏRİ
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'news' %}">
                            XƏBƏRLƏR
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="./contact.html">
                            ƏLAQƏ
                        </a>
                    </li>
                </ul>
            </nav>
            <form class="search" action="">
                <a href="javascript:void(0)">
                    <img class="open-search" src="{% static 'img/search.svg' %}" alt="">
                </a>
                <input class="search-input" type="text">
                <img class="close-search" src="{% static 'img/x-icon.png' %}" alt="">
            </form>
            <div class="social">
                <a href="#">
                    <img src="{% static 'img/face.svg' %}" alt="">
                </a>
                <a href="#">
                    <img src="{% static 'img/inst.svg' %}" alt="">
                </a>
                <div class="lang-div"> 
                    <img src="{% static 'img/lang.svg' %}" alt="">
                    <ul class="lang">
                        <li>
                            <a href="#" class="active">
                                AZ
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                EN
                            </a> 
                        </li>
                        <li> 
                            <a href="#">
                                RU
                            </a>    
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>
<!--Header End-->