{% extends 'base.html' %}
{% load static %}

{% block main %}

 <!--Breadcrumb-->
 <div class="container">
    <div class="row">
        <ul class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="./index.html">
                    Ana Səhifə
                </a>
            </li>
            <span>/</span>
            <li class="breadcrumb-item">
                <a href="./index.html">
                    Xəbərlər
                </a>
            </li>
            <span>/</span>
            <li class="breadcrumb-item">
                Abrau Winonah de
            </li>
        </ul>
    </div>
</div>
<!--Breadcrumb-->
<!--News Single Start-->
<section id="news-single">
    <div class="texture-5">
        <img src="./img/texture-5.png" alt="">
    </div>
    <div class="container">
        <div class="row">
            <h2 class="page-head">
                Abrau Winonah De - alkoqolsuz
                sərinləşdirici içkilərin yeni kolleksiyası
            </h2>
            <img src="./img/news-1.png" alt="">
            <p class="date">
                17.08.2022
            </p>
            <p class="news-single-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. A rhoncus turpis phasellus nec. Sed
                elementum ut lobortis cras cursus quisque. Lobortis lobortis dolor facilisi purus dui magna libero
                tortor vitae. Purus nisl tincidunt molestie non. At in pellentesque arcu, congue pharetra velit.
                Quis malesuada montes, commodo in.
            </p>
            <p class="news-single-text">
                Sit volutpat volutpat ante neque at. A, nulla sed proin pharetra lorem sed proin commodo. Eros lorem
                sed mus pretium. Fermentum ornare sit magna scelerisque nibh. Amet, a nibh pulvinar auctor et
                sollicitudin aliquet nibh non. Elementum convallis a in donec a laoreet vel. Vulputate consequat
                parturient nisi ac aliquet. Fusce arcu eleifend sed nec. Ipsum eget quam leo nisi ut. Ac nec
                aliquam, quis neque. Lorem nisl platea faucibus dapibus ac auctor fermentum, donec non. Donec urna
                neque senectus iaculis tristique mattis gravida in volutpat. A, elit vel non molestie magna
                tincidunt pretium sollicitudin. Mauris ultrices risus ut enim vestibulum eget maecenas metus
                porttitor.
            </p>
            <p class="news-single-text">
                Gravida imperdiet et, id in vestibulum scelerisque. Enim vitae ornare quis euismod. Porttitor amet,
                leo quam quis. Facilisis donec libero purus massa netus amet. Ac laoreet facilisis in in auctor ut
                tristique sed. Pharetra tortor aliquam posuere odio risus at lobortis. Lorem etiam quis dictum nulla
                in massa. Varius augue in sem congue nullam hendrerit nunc. Sed porta dolor non semper iaculis
                ultrices. Et lectus natoque erat donec tellus, ante.
            </p>
        </div>
    </div>
</section>
<!--News Single End-->

{% endblock main %}